* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  margin: 0;
}

.card-wrapper {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 10px;
}

.card-wrapper .card {
  cursor: pointer;
  width: 165px;
  height: 230px;
  position: relative;
}

.card-wrapper .card .img-wrapper {
  position: relative;
  width: 165px;
  height: 230px;
}

.card-wrapper .card .img-wrapper .img {
  width: 100%;
  height: 100%;
}

.card-wrapper .card .img-wrapper .reviews {
  position: absolute;
  bottom: 0;
  right: 0;
  color: white;
  padding: 5px;
  background: rgba(0, 0, 0, 0.8);
  width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card-wrapper .card .img-wrapper .reviews .star {
  height: 12px;
  padding-right: 2px;
}

.card-wrapper .card .card-details {
  position: absolute;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
}

.card-wrapper:hover .card .card-details {
  opacity: 1;
}

.card-wrapper:hover .card .card-details .title {
  color: white;
  font-size: 16px;
  text-align: center;
}

.screen {
  width: 100%;
  min-height: 100vh;
}

.home-screen {
  background-color: #363434;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home-screen .header {
  width: 100%;
  height: 50px;
  background-color: #363434;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-screen .header .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: gray;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.home-screen .header .header-link {
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  font-size: 18px;
  font-weight: bold;
}

.home-screen .header .red {
  background-color: #d04136;
  max-width: 200px;
}

.home-screen .header .green {
  background-color: #01d277;
  max-width: 200px;
}

.home-screen .tabbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 10px 0;
}

.home-screen .tabbar .link {
  cursor: pointer;
  width: 100%;
  max-width: 200px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  font-size: 18px;
  font-weight: bold;
}

.home-screen .tabbar .input-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  border-radius: 5px;
  border: 1px solid gray;
  height: 32px;
  margin: 5px 0;
  max-width: 200px;
}

.home-screen .tabbar .input-wrapper input {
  border: none;
  padding: 5px;
  outline: none;
  width: 100%;
}

.home-screen .tabbar .input-wrapper .img-wrapper {
  background-color: #8a6eff;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-screen .tabbar .input-wrapper .img-wrapper img:hover {
  background: #8a6eff;
}

.home-screen .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home-screen .load {
  padding: 20px 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-screen .load .btn-load {
  border: 1px solid #8a6eff;
  padding: 25px 50px;
  color: #8a6eff;
  border-radius: 15px;
  cursor: pointer;
}

.home-screen .active {
  color: white;
  text-align: center;
  background-color: #8a6eff;
}

@media only screen and (max-width: 768px) {
  .home-screen .header {
    height: 40px;
  }
  .home-screen .header .red, .home-screen .header .green {
    max-width: 120px;
  }
  .home-screen .tabbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .content .card-wrapper {
    width: 150px;
    height: 220px;
    margin: 5px;
  }
  .content .card-wrapper .card {
    width: 100%;
    height: 100%;
  }
  .content .card-wrapper .card .img-wrapper {
    width: 100%;
    height: 100%;
  }
  .btn-load {
    padding: 15px 25px !important;
  }
}

@media only screen and (max-width: 550px) {
  .home-screen .header .links .header-link {
    font-size: 14px;
  }
  .home-screen .header .red, .home-screen .header .green {
    max-width: 50px;
    font-size: 16px;
  }
}

.movie-info-screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #363434;
}

.movie-info-screen .cover {
  width: 100%;
  height: 440px;
}

.movie-info-screen .cover .cover-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.movie-info-screen .movie-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.movie-info-screen .movie-wrapper .img-wrapper {
  max-width: 200px;
}

.movie-info-screen .movie-wrapper .img-wrapper img {
  width: 200px;
  max-width: 200px;
  max-height: 350p;
  height: 350px;
}

.movie-info-screen .movie-wrapper .img-wrapper h1 {
  cursor: pointer;
  color: #8a6eff;
}

.movie-info-screen .movie-wrapper .img-wrapper .favorite {
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
  background-color: #8a6eff;
  width: 100%;
  text-align: center;
  border-radius: 5px;
  margin: 10px 0;
  cursor: pointer;
}

.movie-info-screen .movie-wrapper .img-wrapper .added {
  background-color: #464343;
}

.movie-info-screen .movie-wrapper .movie-info {
  margin: 10px 2%;
}

.movie-info-screen .movie-wrapper .movie-info .movie-title {
  font-size: 40px;
  font-weight: bold;
  color: #8a6eff;
}

.movie-info-screen .movie-wrapper .movie-info .movie-title img {
  margin-left: 10px;
}

.movie-info-screen .movie-wrapper .movie-info .movie-overview {
  margin-bottom: 10px;
  max-width: 600px;
  font-size: 18px;
  color: white;
  font-weight: 400;
}

.movie-info-screen .movie-wrapper .movie-info .movie-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 200px;
}

.movie-info-screen .movie-wrapper .movie-info .movie-details .info {
  color: #8a6eff;
  font-weight: bold;
  font-size: 20px;
}

.movie-info-screen .movie-wrapper .movie-info .movie-details .flex-right {
  width: 50%;
  color: white;
}

.movie-info-screen .movie-wrapper .movie-info .movie-details .flex-left {
  width: 50%;
  color: white;
}

@media only screen and (max-width: 550px) {
  .movie-info-screen .movie-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .movie-info-screen .tabbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.show-info-screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #363434;
}

.show-info-screen .cover {
  width: 100%;
  height: 440px;
}

.show-info-screen .cover .cover-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.show-info-screen .show-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px;
}

.show-info-screen .show-wrapper .img-wrapper {
  max-width: 200px;
}

.show-info-screen .show-wrapper .img-wrapper img {
  width: 200px;
  max-width: 200px;
  max-height: 350p;
  height: 350px;
}

.show-info-screen .show-wrapper .img-wrapper h1 {
  cursor: pointer;
  color: #8a6eff;
}

.show-info-screen .show-wrapper .img-wrapper .favorite {
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
  background-color: #8a6eff;
  width: 100%;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0;
  margin-bottom: 15px;
}

.show-info-screen .show-wrapper .img-wrapper .added {
  background-color: #464343;
}

.show-info-screen .show-wrapper .show-info {
  margin: 10px 2%;
}

.show-info-screen .show-wrapper .show-info .show-title {
  font-size: 40px;
  font-weight: bold;
  color: #8a6eff;
}

.show-info-screen .show-wrapper .show-info .show-title img {
  margin-left: 10px;
}

.show-info-screen .show-wrapper .show-info .show-overview {
  margin-bottom: 10px;
  max-width: 600px;
  font-size: 18px;
  color: white;
  font-weight: 400;
}

.show-info-screen .show-wrapper .show-info .show-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 200px;
}

.show-info-screen .show-wrapper .show-info .show-details .info {
  color: #8a6eff;
  font-weight: bold;
  font-size: 20px;
}

.show-info-screen .show-wrapper .show-info .show-details .flex-right {
  width: 50%;
  color: white;
}

.show-info-screen .show-wrapper .show-info .show-details .flex-left {
  width: 50%;
  color: white;
}

@media only screen and (max-width: 550px) {
  .show-info-screen .show-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .show-info-screen .tabbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=index.css.map */